    <section class="container">
        <section class="edit-form">
               <div class="panel panel-default">
                        <div class="titulo"><h1>Editar perfil</h1></div>
                <div class="panel-heading">
                      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                      <%= f.error_notification %>
                            <div class = "span3">
                            <%= f.input :name, :label => "Nombre:", required: true, autofocus: true, :class => "edit-control" %>
                            </div>
                            <div class = "span3">
                            <%= f.input :email, :label => "Email:", required: true, :class => "edit-control"  %>
                            </div>
                            <div class ="span3">
                            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                              <p>Actualmente a la espera de confirmación para: <%= resource.unconfirmed_email %></p>
                            <% end %>
                            </div> 
                            <div class = "span3">
                            <%= f.input :password, :label => "Contraseña:",autocomplete: "off", hint: "déjelo en blanco si no desea cambiarlo", required: true, :class => "edit-control" %>
                            </div>
                            <div class = "span3">
                            <%= f.input :password_confirmation, :label => "Confirma contraseña:", required: false,:class => "edit-control"  %>
                            </div>
                            <div class = "span3">
                            <%= f.input :current_password, :label => "Contraseña actual:", required: true,hint: "necesitamos su contraseña actual para confirmar los cambios",:class => "edit-control"  %>
                            </div>
                            <div class="form-actions">
                              <%= f.button :submit, "Actualizar", :class=> "boton"%>
                            </div>
                        <% end %>
                </div>
                <div class="panel-footer" align="center">
                    <h2>¿No estas contento? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete %></h2> 
                    </div>
        </section>
    </section>  

